#app
DEBUG=true
APP_NAME="Notification Service"
APP_DESCRIPTION="super fast, fully non-blocking notification as a service - Nass"
APP_VERSION= "0.1.0"

# Database
POSTGRES_USER=notify_user
POSTGRES_PASSWORD=change_me_to_a_strong_password
POSTGRES_DB=notify_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_RECYCLE=3600
